### https://raw.github.com/github/gitignore/c2bb55b891e67c8c43e731ccb6b8a4f3b6b02fd0/Global/Vagrant.gitignore

# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs


